src/main/mule/BS.ETRCSRequestProcessor.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
          http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <!-- <spring:beans>
        <spring:bean id="TraacsRequestInvoiceProcessorID"
                     name="TraacsRequestInvoiceProcessorBean"
                     class="com.ebreez.etrcs.traacsRequestInvoice.TraacsRequestInvoiceProcessor"/>
    </spring:beans> -->  

    <flow name="ETRCSRequestProcessorFlow">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <logger level="INFO" doc:name="Logger" message="Invoice Request from TRAACS System -- #[payload]"/>
        
        <choice doc:name="Choice">
            <when expression="#[payload !=null]">
                <flow-ref name="SetRequestVariables" doc:name="Set Request Fields to Variable"/>
                <db:update doc:name="Database" config-ref="com_db_configuration">
					<db:sql ><![CDATA[${traacs.request.db.update}]]></db:sql>
                </db:update>
                <set-payload value="${etrcs.invoice.response}" doc:name="Set Payload"/>
                <logger level="INFO" doc:name="Logger" message="Response to TRAACS ------ #[payload]"/>
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Logger" message="#[message]"/>
            </otherwise>
        </choice>
    </flow>

    <sub-flow name="SetRequestVariables">
        <set-variable variableName="Booking_ID" value="json:invoiceRequest/BOOKING_ID" doc:name="Booking ID"/>
        <set-variable variableName="SUPP_CODE" value="json:invoiceRequest/SUPP_CODE" doc:name="SUPP CODE"/>
        <set-variable variableName="RESPONSE_CODE" value="json:invoiceRequest/RESPONSE_CODE" doc:name="RESPONSE CODE"/>
        <set-variable variableName="DOC_NO" value="json:invoiceRequest/DOC_NO" doc:name="DOC NO"/>
        <set-variable variableName="REMARKS" value="json:invoiceRequest/REMARKS" doc:name="REMARKS"/>
        <set-variable variableName="TYPE_OF_SERVICE" value="json:invoiceRequest/TYPE_OF_SERVICE" doc:name="TYPE OF SERVICE"/>
        <set-variable variableName="DOMAIN_TYPE" value="json:invoiceRequest/DOMAIN_TYPE" doc:name="DOMAIN TYPE"/>
        <set-variable variableName="REFERENCE_KEY" value="json:invoiceRequest/REFERENCE_KEY" doc:name="REFERENCE KEY"/>
    </sub-flow>
</mule>
