src/main/mule/BS.ETRCSService.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="Router" doc:id="6f2dfaea-ac09-4c05-a491-68f3cfb76088" name="Router" api="etrcs.raml" >
		<apikit:flow-mappings >
			<apikit:flow-mapping resource="/processInvoice" action="post" content-type="application/json" flow-ref="TS.ETRCSProcessInvoiceFlow" />
			<apikit:flow-mapping resource="/processRoeCapture" action="post" content-type="application/json" flow-ref="TraacsROECaptureFlow" />
			<apikit:flow-mapping resource="/invoiceRequest" action="post" content-type="application/json" flow-ref="TraacsROECaptureFlow" />
		</apikit:flow-mappings>
	</apikit:config>
	<flow name="BS.ETRCSServiceNewFlow" doc:id="800e4347-724b-44b2-a7f9-d070f0a6ab7e" >
		<http:listener doc:name="Listener" doc:id="27a30319-dd02-43a4-9598-25f1a7b8c416" config-ref="etrcs-httpListenerConfig" path="/etrcs/v1/*"/>
		<set-variable value="message.id" doc:name="Set Variable" doc:id="16e219a7-b8d1-44f2-a720-d79cf939de60" variableName="rootId"/>
		<apikit:router doc:name="APIkit Router" doc:id="bd7d3cc4-91a9-4dca-96a4-c547ac478b6b" config-ref="Router"/>
		<logger level="INFO" doc:name="Logger" doc:id="a7537e26-d438-4fe3-b0fa-1d8eee14b318" message="Reached ETRCS service flow and api kit crossed"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b0c151fd-210e-49ee-a80e-8b140d5bab2a" type="APIKIT:BAD_REQUEST">
				<set-payload value='{"message": "Bad request"}' doc:name="Set Payload" doc:id="a25f050e-b75d-478d-a772-0a69f983b06f" />
				<set-variable value="400" doc:name="Set Variable" doc:id="13df4993-c97f-4d63-9aa6-5b4b7ffbc1d5" variableName="http.status"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="postProcessInvoiceFlow" doc:id="148aeee5-1f3c-439f-9786-0d8129758fe9" >
		<flow-ref doc:name="Flow Reference" doc:id="77bc2f79-d8e9-40ff-971e-03f275130e1e" name="TS.ETRCSProcessInvoiceFlow"/>
	</flow>
	<flow name="postProcessRoeCaptureFlow" doc:id="46bc6c7c-0e18-4a13-be9d-ec54ad0ba104" >
		<flow-ref doc:name="Flow Reference" doc:id="53a5db93-dfc3-4f63-a730-173e299f0cf0" name="TraacsROECaptureFlow"/>
	</flow>
	<flow name="postInvoiceRequestFlow" doc:id="e0897ff0-5ba1-4e4a-bbc2-0e297a29033e" >
		<flow-ref doc:name="Flow Reference" doc:id="d6a8ecfb-898d-4705-97c5-dfc0476282fc" name="TraacsROECaptureFlow"/>
	</flow>
	<error-handler name="etrcs-apiKitGlobalExceptionMapping" doc:id="7f199fbb-d58d-4443-8546-76c5bd0eda33" >
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9684cd1b-d905-44aa-b1c7-56ca76f56de3" type="APIKIT:NOT_FOUND">
			<set-variable value="404" doc:name="Set Variable" doc:id="d3d1f137-be6c-434c-a47a-5f3b1dacffd7" variableName="httpStatus"/>
			<set-payload value='#[{ "message": "Resource not found" }]' doc:name="Set Payload" doc:id="7e8b8ca5-5dcf-4874-835c-116280a27302" mimeType="application/json"/>
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c8c6ca99-54db-4124-83f1-21ca77282041" type="APIKIT:METHOD_NOT_ALLOWED">
			<set-variable value="405" doc:name="Set Variable" doc:id="f345ac3f-4ba5-4bdf-aa71-d244b2d12a9b" variableName="httpStatus"/>
			<set-payload value='#[{ "message": "Method not allowed" }]' doc:name="Set Payload" doc:id="946eab85-81e2-4fcd-aad3-d7f9109cc025" mimeType="application/json"/>
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e2323bdc-f5b1-469b-bf79-af41f6b6a1e3" type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
			<set-variable value="415" doc:name="Set Variable" doc:id="eb24b244-db58-4bad-a8a9-a7cd1a37477f" variableName="httpStatus"/>
			<set-payload value='#[{ "message": "Unsupported media type" }]' doc:name="Set Payload" doc:id="5053469b-b1bf-48b1-aadd-f83883d049fc" mimeType="application/json"/>
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1357f696-f5cf-4b20-a050-1cec5a25f533" type="APIKIT:NOT_ACCEPTABLE">
			<set-variable value="406" doc:name="Set Variable" doc:id="78517355-849e-4686-939b-ef37e12c8414" variableName="httpStatus"/>
			<set-payload value='#[{ "message": "Not acceptable" }]' doc:name="Set Payload" doc:id="ca440c2c-83c1-4d3e-a722-dd97ac574478" mimeType="application/json"/>
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="121b481c-bb64-44d4-8493-96ccb66b3b4e" type="APIKIT:BAD_REQUEST">
			<set-variable value="400" doc:name="Set Variable" doc:id="df5889d7-2abf-4700-9044-fd1125717e54" variableName="httpStatus"/>
			<set-payload value='#[{ "message": "Bad request" }]' doc:name="Set Payload" doc:id="f9849643-da70-4511-a1b0-8ee9040eced2" mimeType="application/json"/>
		</on-error-propagate>
	</error-handler>
</mule>
